<h1>Add a new recipe to your collection</h1>

<form method="POST" action="/recipes">
  Name: <input type="text" name="name">
  Ingredients: <input type="text" name="ingredients">
  <input type="submit" value="Submit">
</form>